<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">Copyright &copy; 2019 [Masaya Ito](WEB422) <a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></div>
        <div class="col-sm-6">
          <div class="follow-us"> <a class="fa fa-facebook social-icon" href="https://www.facebook.com/Angular"></a> 
            <a class="fa fa-twitter social-icon" href="https://twitter.com/angular"></a>
             <a class="fa fa-linkedin social-icon" href="https://www.linkedin.com/company/angular"></a> 
            <a class="fa fa-github social-icon" href="https://github.com/mito5/angular"></a> </div>
        </div>
      </div>
    </div>
  </footer>